.car-box{
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    width: 60%;
    box-shadow: 0 2px 3px #eee;
}
input{
    padding: 10px;
    outline: none;
    background-color: #fff;
}
button{
    padding: 10px 25px;
    text-transform: uppercase;
    color: #fff;
    background-color: orangered;
    float: right;
    cursor: pointer;
}